{#{% extends "base.html" %}#}
{#{% block title %} Home Page {% endblock title%}#}
{#{% block content %}#}
{#    <div class="jumbotron">#}
{#        <h1 class="display-4">Welcome to VR-CLUB</h1>#}
{#        <p class="lead">#}
{#            User registration and login system#}
{#        </p>#}
{#        <hr class="my-4">#}
{#        <p class="lead">#}
{#            <a class="btn btn-primary btn-lg" href="/users/logout/" role="button">Logout</a>#}
{#            <a class="btn btn-primary btn-lg" href="/users/sign-in/" role="button">Sign in</a>#}
{#            <a class="btn btn-primary btn-lg" href="/users/sign-up/" role="button">Sign up</a>#}
{#        </p>#}
{#    </div>#}
{#{% endblock content %}#}