.main-btn-blue {
    margin-top: 36px;
    width: 290px;
    height: 56px;
    border-radius: 100px;
    background: #4FB4FE;
    padding: 16px 32px;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;

    text-decoration: none;
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 0;
    box-shadow: 0 0 10px 0 #4FB4FE;
}


.photo-back {
    margin-top: 13px;
    margin-left: 435px;
    width: 1352px;
    height: 851px;
    background-image: url(man-experiencing-virtual-reality-close-up.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.content {
    position: absolute;
    margin-left: -95px;
    margin-top: 107px;
}

.blur-32,
.blur-32 * {
    box-sizing: border-box;
}

.blur-32 {
    background: linear-gradient(1.94deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 85%);
    width: 1920px;
    height: 497px;
    position: sticky;
    margin-top: 503px;
    z-index: 0;
}


.vr-club,
.vr-club * {
    box-sizing: border-box;
}

.vr-club {
    color: #ffffff;
    text-align: left;
    font: 800 88px "Montserrat", sans-serif;
    position: relative;
    width: 1187px;
    height: 223px;
}

.sub-vr-club,
.sub-vr-club * {
    box-sizing: border-box;
}

.sub-vr-club {
    margin-top: 24px;
    color: #ffffff;
    text-align: left;
    font: 500 24px "Montserrat", sans-serif;
    position: relative;
    width: 562px;
    height: 61px;
}

.booking {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-align: center;
    font: 700 48px "Montserrat", sans-serif;
    position: relative;
    width: 1187px;
    height: 65px;
}


/* START CALENDAR */
.calendar {
    width: 738px;
}

.month {
    color: #ffffff;
    text-align: center;
    font: 600 24px "Montserrat", sans-serif;
    position: relative;
    width: auto;
    height: 33px;
}

.weekdays {
    margin-top: 46px;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.weekdays div {
    color: #ffffff;
    text-align: center;
    font: 500 18px/150% "Montserrat", sans-serif;
    position: relative;
    width: 33px;
    height: 31px;
}

/*  */
.days {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    width: 738px;
}

/*  */
.item1 {
    cursor: pointer;
}

.item3 {
    cursor: pointer;
}

.button-m,
.button-m * {
    box-sizing: border-box;
}

.button-m {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.name-month {
    color: #4fb4fe;
    text-align: left;
    font: 500 24px "Montserrat", sans-serif;
    position: relative;
    width: auto;
    height: 33px;
}

.caret-right {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    bottom: 1px;
}

.caret-left {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    bottom: 1px;
}

/* Calendar */
.wrap,
.wrap * {
    box-sizing: border-box;
}

.wrap {
    width: 102px;
    height: 102px;
    position: static;
}

.transparent-wrap,
.transparent-wrap * {
    box-sizing: border-box;
}

.transparent-wrap {
    width: 102px;
    height: 102px;
    position: static;
    opacity: 0;
}

.no-change {
    background: rgba(79, 180, 254, 0.2);
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.us-background {
    background: rgba(79, 180, 254, 0.2);
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.blue-background {
    background: #4fb4fe;
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.old-day {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    font: 500 24px/150% "Montserrat", sans-serif;
    position: relative;
    padding-top: 8px;
    padding-left: 12px;
    cursor: default;
}

.base-day {
    color: #4FB4FE;
    font: 500 24px/150% "Montserrat", sans-serif;
    position: absolute;
    padding-top: 8px;
    padding-left: 12px;
    cursor: default;
}

.today {
    color: #001729;
    font: 500 24px/150% "Montserrat", sans-serif;
    position: absolute;
    padding-top: 8px;
    padding-left: 12px;
    cursor: default;
}

.wrap:hover .blue-background {
    background: #ffffff;
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.wrap:hover .us-background {
    background: #ffffff;
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.wrap:hover .today {
    color: #001729;
}

.wrap:hover .base-day {
    color: #001729;
}

.count_place,
.count_place * {
    box-sizing: border-box;
}

.count_place {
    color: #001729;
    text-align: left;
    font: 500 18px/150% "Montserrat", sans-serif;
    position: relative;
    height: 25px;
    padding-left: 12px;
    padding-top: 54px;
}

.flex-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* END CALENDAR */

/* START GAME */
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.wrapper {
    max-width: 1595px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 5);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    /* gap: 24px; */
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 366px;
    width: 299px;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
}

@media screen and (max-width: 1550px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4) - 9px);
    }
}

@media screen and (max-width: 1280px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3) - 9px);
    }
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.carousel {
    scroll-behavior: smooth;
    transition: scroll 0.4s ease-in-out;
}

.carousel.no-transition {
    transition: none;
}

/* Game */
.game-card,
.game-card * {
    box-sizing: border-box;
}

.game-card {
    flex-shrink: 0;
    width: 299px;
    height: 366px;
    position: relative;
}

.group-1 {
    width: 299px;
    height: 366px;
    position: relative;
}

.game-image {
    border-radius: 24px;
    border-style: solid;
    border-color: var(--white, #f1f1f1);
    border-width: 1px;
    width: 299px;
    height: 366px;
    position: relative;
    left: 0px;
    top: 0px;
}

.overlay {
    background: linear-gradient(0.31deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 83.64582061767578%);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--white, #f1f1f1);
    border-width: 1px;
    width: 299px;
    height: 366px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.game-title {
    color: var(--white, #f1f1f1);
    text-align: left;
    font: 600 20px "Montserrat", sans-serif;
    position: absolute;
    left: 15.98px;
    top: 318px;
    width: auto;
}

.age-group {
    width: 43.96px;
    height: 44px;
    position: static;
}

.age-badge {
    border-radius: 100px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 43.96px;
    height: 44px;
    position: absolute;
    left: 239.76px;
    top: 16px;
    color: var(--white, #f1f1f1);
    text-align: left;
    font: 500 20px "Montserrat", sans-serif;
    line-height: 44px;
    padding-left: 5px;
}

.player-count {
    width: auto;
    height: 24px;
    position: static;
}

.player-badge-one {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    width: 84px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 282px;
    color: #ffffff;
    text-align: center;
    font: 500 14px "Montserrat", sans-serif;
    line-height: 24px;
}

.player-badge-two {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    width: 105px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 282px;
    color: #ffffff;
    text-align: center;
    font: 500 14px "Montserrat", sans-serif;
    line-height: 24px;
}

.rectangle-12,
.rectangle-12 * {
    box-sizing: border-box;
}

.rectangle-12 {
    background: rgba(1, 1, 3, 0.7);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--white, #f1f1f1);
    border-width: 1px;
    width: 299.3px;
    height: 366px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
}

/* Details */
.game-card:hover .rectangle-12 {
    opacity: 1;
    /* Показати затемнення при наведенні */
}

/* Додайте анімацію переходу для елементів, які будуть змінюватися при наведенні */
.game-title,
.player-badge-one,
.descriptions,
.btn-blue,
.btn-play {
    transition: transform 0.3s ease-in-out;
}

.game-title,
.player-badge-two,
.descriptions,
.btn-blue,
.btn-play {
    transition: transform 0.3s ease-in-out;
}

/* Змініть позиціонування елементів при наведенні */
.game-card:hover .game-title {
    transform: translateY(-262px);
    /* Підняти заголовок вгору при наведенні */
}

.game-card:hover .player-badge-one {
    transform: translateY(-262px);
    /* Підняти кількість гравців вгору при наведенні */
}

.game-card:hover .player-badge-two {
    transform: translateY(-262px);
    /* Підняти кількість гравців вгору при наведенні */
}

.descriptions,
.descriptions * {
    box-sizing: border-box;
}

.descriptions {
    color: var(--white, #f1f1f1);
    text-align: left;
    font: 500 14px "Montserrat", sans-serif;
    position: relative;
    width: 268px;
    height: 157px;
    padding-left: 15.3px;
    opacity: 0;
}

.game-card:hover .descriptions {
    opacity: 1;
    transform: translateY(-274px);
}

/* Button */
.btn-blue {
    margin-left: 15.3px;
    opacity: 0;

    width: 212px;
    height: 44px;
    border-radius: 100px;
    background: #4FB4FE;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.game-card:hover .btn-blue {
    opacity: 1;
    transform: translateY(-224px);
}

/* Last */

.btn-play,
.btn-play * {
    box-sizing: border-box;
}

.btn-play {
    width: 44px;
    height: 44px;
    position: relative;
    margin-left: 239.3px;
    /* bottom: 268px; */
}

.rectangle-32 {
    border-radius: 100px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 44px;
    height: 44px;
    position: absolute;
}

.rectangle-33 {
    background: #4fb4fe;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 7px;
}

.ph-play-fill {
    position: absolute;
    overflow: visible;
    margin: 13px;
}

.game-card:hover .btn-play {
    opacity: 1;
    transform: translateY(-268px);
}

/* END GAME */

.games,
.games * {
    box-sizing: border-box;
}

.games {
    color: #ffffff;
    text-align: center;
    font: 700 48px "Montserrat", sans-serif;
    position: relative;
    width: 1187px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}

.main-view-more {
    margin-top: 46px;
    position: relative;
    width: 290px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}

.view-more,
.view-more * {
    box-sizing: border-box;
}

.view-more {
    width: 122px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;

    padding: 12px 32px 12px 31px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

/* START Background */

.intro_bg_block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: clip;
}

.ellipse-1,
.ellipse-1 * {
    box-sizing: border-box;
}

.ellipse-1 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 354px;
    height: 354px;
    position: absolute;
    filter: blur(175px);
    top: 88px;
    left: -92px;
}


.ellipse-3,
.ellipse-3 * {
    box-sizing: border-box;
}

.ellipse-3 {
    background: #00a3ff;
    border-radius: 50%;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(175px);
    top: 382px;
    left: 1601px;
    z-index: 1;
}

.ellipse-4,
.ellipse-4 * {
    box-sizing: border-box;
}

.ellipse-4 {
    background: #00a3ff;
    border-radius: 50%;
    opacity: 0.699999988079071;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(200px);
    top: 1291px;
    left: -198px;
}

.ellipse-5,
.ellipse-5 * {
    box-sizing: border-box;
}

.ellipse-5 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 299px;
    height: 299px;
    position: relative;
    filter: blur(175px);
    top: 1611px;
    left: 1688px;
}

.first-object {
    position: absolute;
    transform: translate(-149.9px, -1029px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.second-object {
    position: relative;
    transform: translate(-433.9px, 266.93px);
    overflow: visible;
    opacity: 0.11999999731779099;
    z-index: 0;
}

.third-object {
    position: absolute;
    transform: translate(-643px, 558px);
    overflow: visible;
    opacity: 0.11999999731779099;
}


/* END Background */
