# GENERAL
SECRET_KEY=django-insecure-@secret-key
DEBUG=true
ALLOWED_HOSTS="localhost, example.com"
CSRF_TRUSTED_ORIGINS="http://localhost, https://example.com"
USE_X_FORWARDED_HOST=True
DB_NAME=example
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST=localhost

# GOOGLE CLOUD
GOOGLE_CLIENT_ID='<client-id>'
GOOGLE_SECRET='<client-secret>'

# EMAIL
EMAIL_HOST_USER=user@example.com
EMAIL_HOST_PASSWORD='<host-password>'
