<div id="popup" class="popup">
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'site/static_files/popup.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <div class="popup-container">
        <svg onclick="closePopup()" id="closePopup" class="close" width="32" height="32" viewBox="0 0 32 32" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.53317 25.3334L6.6665 23.4667L14.1332 16L6.6665 8.53335L8.53317 6.66669L15.9998 14.1334L23.4665 6.66669L25.3332 8.53335L17.8665 16L25.3332 23.4667L23.4665 25.3334L15.9998 17.8667L8.53317 25.3334Z"
                fill="black"></path>
        </svg>
        <div class="title-popup" style="margin-top: 28px;">
            <div class="half-1">Оберіть зручний час для гри в клубі:</div>
            <div class="half-2" style="margin-top: 8px;">м. Славута, вул. Бла-бла, 32</div>
            <div class="booking-date" style="margin-top: 20px;">
                28 червня 2023
            </div>
            <form id="bookingForm" method="post" style="margin-top: 24px;">
                {% csrf_token %}
                <div class="form-group">
                    {% for slot, av_slot in form.slots|zip:available_slots %}
                        {% if av_slot > 0 %}
                            <div class="form-check">
                                <label class="form-check-label">
                                    {{ slot }}
                                </label>
                                <label class="av_slots" style="margin-left: 12px">{{ av_slot }} місця </label>
                            </div>
                        {% else %}
                            <div class="form-check">
                                <label class="form-check-label">
                                    {{ slot }}
                                </label>
                                <label class="av_slots" style="margin-left: 12px"></label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="count-people-price" style="margin-top: 24px">
                    <div class="number_of_people">Кількість осіб:</div>
                    <div class="number-input" style="margin-left: 24px">
                        <div onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                            style="margin-left:16px"></div>
                        <input class="quantity" min="1" name="number_of_people" value="1" type="number" required
                            id="id_number_of_people">
                        <div onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                            class="Two plus" style="margin-right:16px"></div>
                    </div>
                    <span class="total_cost" id="total_cost" style="margin-left: auto">0.00 грн</span>
                </div>
                <div class="info-form">
                    <div class="column">
                    <div class="input-container" style="margin-top: 21px;">
                        <label for="{{ form.name.id_for_label }}">
                            <div class="frame-23">
                                <span class="e1">Ваше ім’я</span>
                                <span class="e2">*</span>
                            </div>
                        </label>
                        {{ form.name }}
                    </div>
                    <div class="input-container" style="margin-top: 8px">
                        <label for="{{ form.email.id_for_label }}">
                            <span class="e1">Електронна адреса</span>
                            <span class="e2">*</span>
                        </label>
                        {{ form.email }}
                    </div>
                    </div>
                    <div class="column">
                        <div class="input-container" style="margin-top: 21px">
                            <label for="{{ form.phone_number.id_for_label }}">
                                <span class="e1">Номер телефону</span>
                            </label>
                            {{ form.phone_number }}
                        </div>
                        <div class="input-container" style="margin-top: 8px">
                            <label for="{{ form.comment.id_for_label }}">
                                <span class="e1">Коментар</span>
                            </label>
                            {{ form.comment }}
                        </div>
                    </div>
                </div>
                <div style="margin-left: 214px; margin-top: 32px">
                    <button class="main-btn-blue-pop">забронювати</button>
                </div>
            </form>
        </div>
    </div>
<script>
    document.getElementById('bookingForm').addEventListener('submit', function (event) {
        const numberOfPeopleInput = document.getElementById('id_number_of_people');
        const numberOfPeople = parseInt(numberOfPeopleInput.value);
        const checkboxes = document.getElementsByName('slots');
        let hasSelectedSlots = false;
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                hasSelectedSlots = true;
            }
        });
        if (!hasSelectedSlots || numberOfPeople < 1) {
            event.preventDefault();
        }
    });
</script>
{# Недоступність слотів, якщо вільного сеансу немає #}
<script>
    const maxSlotsAllowed = 2;
    function updateSlotAvailability() {
        const form = document.querySelector('form');
        const numberOfPeopleInput = form.querySelector('#id_number_of_people');
        const slotsLabels = form.querySelectorAll('.form-check-label');
        const numberOfPeople = parseInt(numberOfPeopleInput.value);


        slotsLabels.forEach(label => {
            const checkbox = label.querySelector('input[type="checkbox"]');
            const slotName = label.innerText;
            const avSlotLabel = label.nextElementSibling;
            const avSlot = parseInt(label.nextElementSibling.innerText.split(' ')[0]); // Отримуємо кількість місць з наступного елемента
            if (avSlot > 0 && numberOfPeople <= avSlot) {
                label.removeAttribute('disabled');
                checkbox.style.border = '1px solid #4FB4FE';
                label.style.opacity = '1';
                label.style.pointerEvents = 'auto';
                avSlotLabel.style.color = "#4FB4FE"
            }
            else {
                label.setAttribute('disabled', true);
                checkbox.style.border = '1px solid #9F9F9F'; // Встановлюємо фон зі змінної --form-background, коли неактивний
                label.style.opacity = '0.5';
                label.style.pointerEvents = 'none';
                avSlotLabel.style.color = "#9F9F9F"
            }
        });
    }
    const numberOfPeopleInput = document.querySelector('#id_number_of_people');
    const minusButton = document.querySelector('.number-input div[onclick*="stepDown"]');
    const plusButton = document.querySelector('.number-input div[onclick*="stepUp"]');

    numberOfPeopleInput.addEventListener('input', updateSlotAvailability);
    plusButton.addEventListener('click', updateSlotAvailability);
    minusButton.addEventListener('click', updateSlotAvailability);

    updateSlotAvailability();
</script>
{# Можливісь обрати лише два сумісних слоти #}
<script>
    function isCompatible(checkbox1, checkbox2) {
        const compatiblePairs = [
            ['id_slots_0', 'id_slots_1'],
            ['id_slots_1', 'id_slots_2'],
            ['id_slots_2', 'id_slots_3'],
            ['id_slots_3', 'id_slots_4'],
            ['id_slots_4', 'id_slots_5'],
            ['id_slots_5', 'id_slots_6'],
            ['id_slots_6', 'id_slots_7'],
            ['id_slots_7', 'id_slots_8'],
            ['id_slots_8', 'id_slots_9']
        ];
        return compatiblePairs.some(pair => {
            return (
                (checkbox1.id === pair[0] && checkbox2.id === pair[1]) ||
                (checkbox1.id === pair[1] && checkbox2.id === pair[0])
            );
        });
    }
    function limitCheckboxSelection(checkbox) {
        const maxAllowedChecked = 2;

        const checkboxes = document.getElementsByName('slots');
        let checkedCount = 0;

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkedCount++;
            }
        }
        if (checkedCount > maxAllowedChecked) {
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked && checkboxes[i] !== checkbox) {
                    checkboxes[i].checked = false;
                }
            }
        }
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] !== checkbox && !isCompatible(checkbox, checkboxes[i])) {
                checkboxes[i].checked = false;
            }
        }
    }
    const checkboxes = document.getElementsByName('slots');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('click', function () {
            limitCheckboxSelection(this);
        });
    });
</script>
{# Підрахунок грошей#}
<script>
    function calculateTotalCost() {
        const slotCost = 200;
        const numberOfPeopleInput1 = document.querySelector('#id_number_of_people');
        const numberOfPeople1 = parseInt(numberOfPeopleInput1.value);

        const checkboxes1 = document.getElementsByName('slots');
        let selectedSlots = 0;
        checkboxes1.forEach(checkbox => {
            if (checkbox.checked) {
                selectedSlots++;
            }
        });

        let totalCost = 0;
        if (numberOfPeople1 > 0 && selectedSlots > 0) {
            totalCost = slotCost * selectedSlots * numberOfPeople1;
        }

        const totalCostElement = document.getElementById('total_cost');
        totalCostElement.textContent = totalCost.toFixed(2) + ' грн';
    }
    const numberOfPeopleInput1 = document.querySelector('#id_number_of_people');
    numberOfPeopleInput1.addEventListener('input', calculateTotalCost);
    const checkboxes1 = document.getElementsByName('slots');
    checkboxes1.forEach(checkbox => {
        checkbox.addEventListener('click', function () {
            limitCheckboxSelection(this);
            calculateTotalCost();
        });
    });

    const btnMinus = document.querySelector('.number-input div[onclick*="stepDown"]');
    btnMinus.addEventListener('click', function () {
        const numberOfPeopleInput = document.querySelector('#id_number_of_people');
        const currentNumberOfPeople = parseInt(numberOfPeopleInput.value);
        numberOfPeopleInput.value = currentNumberOfPeople;
        calculateTotalCost();
    });

    const btnPlus = document.querySelector('.number-input div[onclick*="stepUp"]');
    btnPlus.addEventListener('click', function () {
        const numberOfPeopleInput = document.querySelector('#id_number_of_people');
        const currentNumberOfPeople = parseInt(numberOfPeopleInput.value);
        numberOfPeopleInput.value = currentNumberOfPeople;
        calculateTotalCost();
    });
</script>
</div>