<div id="popup" class="popup">
    {% load static %}
    <link rel="stylesheet" href="{% static 'site/style/booking.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <div class="popup-container">
        <svg onclick="closePopup()" id="closePopup" class="close" width="32" height="32" viewBox="0 0 32 32" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.53317 25.3334L6.6665 23.4667L14.1332 16L6.6665 8.53335L8.53317 6.66669L15.9998 14.1334L23.4665 6.66669L25.3332 8.53335L17.8665 16L25.3332 23.4667L23.4665 25.3334L15.9998 17.8667L8.53317 25.3334Z"
                fill="black"></path>
        </svg>
        <div class="title-popup">
            <div class="half-1">Оберіть зручний час для гри в клубі:</div>
            <div class="half-2">м. Славута, вул. Бла-бла, 32</div>
            <div class="booking-date">01-01-2023</div>
            <form id="bookingForm" method="post" style="margin-top: 24px;">
                {% csrf_token %}
                <div style="display: none;">
                    {{ form.date }}
                </div>
                <div class="form-group">
                    {% for slot in form.slots %}
                        <div class="form-check">
                            <label class="form-check-label">
                                {{ slot }}
                            </label>
                            <label class="av_slots"></label>
                        </div>
                    {% endfor %}
                </div>
                <div class="people-count-price">
                    <div class="people-count">Кількість осіб:</div>
                    <div class="people-count-2">
                        <div class="number-input">
                        <div onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                            style="margin-left:16px"></div>
                        <input class="quantity" min="1" name="people_count" value="1" type="number" required
                            id="id_people_count">
                        <div onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                            class="Two plus" style="margin-right:16px"></div>
                    </div>
                    <span class="total_cost" id="total_cost" style="margin-left: auto">0.00 грн</span>
                    </div>
                </div>
                <div class="info-form">
                    <div class="column">
                    <div class="input-container">
                        <label for="{{ form.name.id_for_label }}">
                            <div class="frame-23">
                                <span class="e1">Ваше ім’я</span>
                                <span class="e2">*</span>
                            </div>
                        </label>
                        {{ form.name }}
                    </div>
                    <div class="input-container">
                        <label for="{{ form.email.id_for_label }}">
                            <span class="e1">Електронна адреса</span>
                            <span class="e2">*</span>
                        </label>
                        {{ form.email }}
                    </div>
                    </div>
                    <div class="column">
                        <div class="input-container">
                            <label for="{{ form.phone_number.id_for_label }}">
                                <span class="e1">Номер телефону</span>
                            </label>
                            {{ form.phone_number }}
                        </div>
                        <div class="input-container">
                            <label for="{{ form.comment.id_for_label }}">
                                <span class="e1">Коментар</span>
                            </label>
                            {{ form.comment }}
                        </div>
                    </div>
                </div>
                <div class="btn-booking">
                    <button  id="bookingButton" class="main-btn-blue-pop">забронювати</button>
                </div>
            </form>
        </div>
    </div>
<script src="{% static 'site/js/booking.js' %}"></script>
</div>
