{% load static %}
<link rel="stylesheet" href="{% static 'site/style/calendar.css' %}">
<section id="booking" style="height: auto;">
    <div class="booking">
        <span>
            <span class="span1">Забронюй</span>
            <span class="span2"> час гри прямо зараз!</span>
        </span>
    </div>
    <div class="flex-calendar">
        <div class="month-nav">
            <div id="prevMonth" class="button-m item1">
                <svg class="caret-left" width="32" height="32" viewBox="0 0 32 32" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 6L12 16L22 26" stroke="#4FB4FE" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
                <div id="prevMonthBtn" class="name-month"></div>
            </div>
            <div class="month" id="month"></div>
            <div id="nextMonth" class="button-m item3">
                <div id="nextMonthBtn" class="name-month"></div>
                <svg class="caret-right" width="32" height="32" viewBox="0 0 32 32" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L22 16L12 26" stroke="#4FB4FE" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </div>
        </div>
        <div class="weekdays">
            <div>Пн</div>
            <div>Вт</div>
            <div>Ср</div>
            <div>Чт</div>
            <div>Пт</div>
            <div>Сб</div>
            <div>Нд</div>
        </div>
        <div class="days" id="days"></div>
    </div>
   {% include 'site/booking.html' %}
    <script src="{% static 'site/js/calendar.js' %}"></script>
</section>
<script>
function formatTime(date) {
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0');
    const day = date.getDate().toString().padStart(2, '0');
    const hours = date.getHours().toString().padStart(2, '0');
    const minutes = date.getMinutes().toString().padStart(2, '0');

    return `${year}-${month}-${day} ${hours}:${minutes}`;
}

function getCurrentTimeUTC() {
    const currentTime = new Date();
    const utcOffset = 0;
    return new Date(currentTime.getTime() + utcOffset * 60 * 60 * 1000);
}

async function getAvailableSlots(date) {
    fetch(`{% url 'site:get_available_slots' %}?date=${date}`, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        },
    })
        .then(response => response.json())
        .then(data => {
            const avSlotsLabels = document.getElementsByClassName('av_slots');
            const currentTimeUTC2 = getCurrentTimeUTC();
            const slots = document.querySelectorAll('.form-check-label');

            for (let i = 0; i < avSlotsLabels.length; i++) {
                const avSlotElement = avSlotsLabels[i];
                const newAvSlotValue = data.available_slots[i];

                const slot = slots[i];
                const slotText = slot.textContent.trim();
                const hourRegex = /(\d+\.\d+)/;
                const matches = slotText.match(hourRegex);

                if (matches) {
                    const hour = parseFloat(matches[1]);
                    const slotDate = new Date(date);
                    slotDate.setHours(hour, 0, 0, 0);

                    if (slotDate <= currentTimeUTC2) {
                        avSlotElement.textContent = "";
                    } else if (newAvSlotValue > 0) {
                        avSlotElement.textContent = `${newAvSlotValue} місця`;
                    } else {
                        avSlotElement.textContent = "";
                    }
                }
            }
            updateSlotAvailability();
        });
}
async function getAvailableSlotsMonth(currentYear, currentMonth) {
    currentMonth += 1
    fetch(`{% url 'site:get_available_slots_for_month' %}?year=${currentYear}&month=${currentMonth}`, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        },
    })
        .then(response => response.json())
        .then(data => {
            data.available_slots.forEach(item => {
                const date = new Date(item.date);
                const dayNumber = date.getDate();
                const countPlaceElement = document.querySelector(`[data-day="${dayNumber}"] .count_place`);
                if (countPlaceElement) {
                    if (item.available_slots <= 0) {
                        countPlaceElement.closest('.wrap').classList.add('inactive');
                        countPlaceElement.closest('.wrap').removeAttribute('onclick');
                        countPlaceElement.closest('.wrap').style.cursor = 'default';
                    }
                    countPlaceElement.textContent = `${item.available_slots} місць`;
                }
            });
        });

}
async function getPrice(date) {
    try {
        const response = await fetch(`{% url 'site:get_price_day' %}?date=${date}`, {
            method: "GET",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
            },
        });
        const data = await response.json();
        return data.price;
    } catch (error) {
        console.error('Помилка отримання ціни:', error);
        return null;
    }
}
</script>