{% extends "base/base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
<link rel="stylesheet" href="{% static 'site/style/index.css' %}">
{% endblock %}
{% block intro_bg_block %}
    <div class="intro_bg_block">
    <div class="ellipse-1"></div>
    <div class="ellipse-3"></div>
    <div class="ellipse-4"></div>
    <div class="ellipse-5"></div>
    <div class="ellipse-6"></div>
    {% include 'site/svg-objects/index-first-object.html' %}
    {% include 'site/svg-objects/index-second-object.html' %}
    {% include 'site/svg-objects/index-third-object.html' %}
    {% include 'site/svg-objects/index-fourth-object.html' %}
</div>
{% endblock %}
{% block main %}
<section style="height: auto; overflow-x: hidden">
    <div class="content">
        <div class="vr-club">
          <span>
              <span class="vr-club-span">Нова реальність<br />разом з </span>
              <span class="vr-club-span2">VR</span>
              <span class="vr-club-span3">Club </span>
          </span>
        </div>
        <div class="sub-vr-club">Поринь в світ віртуальної реальності разом з друзями</div>
        <button class="main-btn-blue" onclick="redirectToBooking()">забронювати</button>
    </div>
    <div class="photo-back">
        <div class="blur-32"></div>
    </div>
</section>
<section  class="section-games">
    {% include 'site/game-carousel.html' %}
</section>
<section class="section-what-to-play">
    <div class="what-to-play">
      <span>
          <span class="span">На </span>
          <span class="span2">чому</span>
          <span class="span3"> грати?</span>
      </span>
    </div>
    <div class="oculus-meta-quest-2">
      Oculus Meta Quest 2 - сучасна бездротова гарнітура віртуальної реальності
    </div>
    <div class="photo-back-vr">
        <img class="vr-helmet" src="{% static 'site/static_files/vr-helmet.png' %}"/>
    </div>
    <div class="main-more-details">
        <a href="#" class="more-details">Детальніше</a>
    </div>
</section>
<section>
    {% include 'site/calendar.html' %}
</section>
<section class="section-rules-club">
    {% include 'site/rules.html' %}
</section>
<section style="height: 514px;"></section>
{% endblock %}
{% block script %}
<script src="{% static 'site/js/index.js' %}"></script>
{% endblock %}
