{% extends "base/base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
<link rel="stylesheet" href="{% static 'site/style/index.css' %}">
{% endblock %}
{% block intro_bg_block %}
    <div class="intro_bg_block">
    <div class="ellipse-1"></div>
    <div class="ellipse-3"></div>
    <div class="ellipse-4"></div>
    <div class="ellipse-5"></div>
    <div class="ellipse-6"></div>
    <div class="ellipse-7"></div>
    <div class="ellipse-8"></div>
    {% include 'site/svg-objects/index-first-object.html' %}
    {% include 'site/svg-objects/index-second-object.html' %}
    {% include 'site/svg-objects/index-third-object.html' %}
    {% include 'site/svg-objects/index-fourth-object.html' %}
    {% include 'site/svg-objects/index-fifth-object.html' %}
</div>
{% endblock %}
{% block main %}
<section style="height: auto; overflow-x: hidden">
    <div class="content">
        <div class="vr-club">
          <span>
              <span class="vr-club-span">Нова реальність<br />разом з </span>
              <span class="vr-club-span2">VR</span>
              <span class="vr-club-span3">Club </span>
          </span>
        </div>
        <div class="sub-vr-club">Поринь в світ віртуальної реальності разом з друзями</div>
        <button class="main-btn-blue" onclick="redirectToBooking()">забронювати</button>
    </div>
    <div class="photo-back">
        <div class="blur-32"></div>
    </div>
</section>
<section  class="section-games">
    {% include 'site/game-carousel.html' %}
</section>
<section class="section-what-to-play">
    <div class="what-to-play">
      <span>
          <span class="span">На </span>
          <span class="span2">чому</span>
          <span class="span3"> грати?</span>
      </span>
    </div>
    <div class="oculus-meta-quest-2">
      Oculus Meta Quest 2 - сучасна бездротова гарнітура віртуальної реальності
    </div>
    <div class="photo-back-vr">
        <img class="vr-helmet" src="{% static 'site/static_files/vr-helmet.png' %}"/>
    </div>
    <div class="main-more-details">
        <a href="#" class="more-details">Детальніше</a>
    </div>
</section>
<section  class="section-calendar">
    {% include 'site/calendar.html' %}
</section>
<section class="section-rules-club">
    {% include 'site/rules.html' %}
</section>
<section class="section-prices">
    <div class="price-for-hour">
      <span>
          <span class="span">Ціна</span>
          <span class="span2"> за годину безцінних </span>
          <span class="span3">емоцій</span>
      </span>
    </div>
    <div class="price-day">
        <div class="item">
            <div class="when">
                БУДНІ
            </div>
            <div class="price-details">
                <div class="i-h-1">
                    <div class="when-description">
                        Година перемог над монстрами, тріумфів та незабутніх емоцій в світі віртуальної реальності.
                    </div>
                </div>
                <div class="i-h-2">
                    <div class="when-time">
                        60 хвилин
                    </div>
                    <div class="how-many-o">
                        {{ weekday_price }} грн
                    </div>
                </div>
            </div>
                <button class="btn-price" onclick="redirectToBooking()">Забронювати</button>
        </div>
        <div class="item">
            <div class="when">
                ВИХІДНІ
            </div>
            <div class="price-details">
                <div class="i-h-1">
                    <div class="when-description">
                        Чудовий відпочинок для кожного, хто хоче перемагати та весело провести час!
                    </div>
                </div>
                <div class="i-h-2">
                    <div class="when-time">
                        60 хвилин
                    </div>
                    <div class="how-many-b">
                        {{ weekend_price }} грн
                    </div>
                </div>
            </div>
            <button class="btn-price" onclick="redirectToBooking()">Забронювати</button>
        </div>
    </div>
</section>
<section style="height: 514px;"></section>
{% endblock %}
{% block script %}
<script src="{% static 'site/js/index.js' %}"></script>
{% endblock %}
