#openPopup {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Стилізація для попап вікна */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

/* Стилізація для контенту попап вікна */
.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FEFEFE;
    width: 796px;
    height: 759px;
    border-radius: 8px;
    overflow: auto;
}

/* Стилізація для кнопки закриття попап вікна */
.close {
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}

.title-popup,
.title-popup * {
    box-sizing: border-box;
}

.title-popup {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.half-1 {
    color: var(--style, #202122);
    text-align: center;
    font: 500 32px/115% "Montserrat", sans-serif;
    position: relative;
    width: 622px;
}

.half-2 {
    margin-top: 8px;
    color: var(--style, #202122);
    text-align: center;
    font: 700 32px/115% "Montserrat", sans-serif;
    position: relative;
    width: 481px;
}

.booking-date {
    margin-top: 20px;
    color: #4fb4fe;
    text-align: center;
    font: 500 24px/115% "Montserrat", sans-serif;
    position: relative;
    width: 194px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
}

.people-count {
    color: #202122;
    text-align: left;
    font: 500 24px/170% "Montserrat", sans-serif;
    position: relative;
}

.people-count-2 {
    gap: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-booking {
    margin-left: auto;
    margin-top: 32px;
    margin-right: auto;
    max-width: 369px;
}

.main-btn-blue-pop {
    width: 369px;
    height: 48px;
    border-radius: 100px;
    background: #4FB4FE;
    padding: 12px 41px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;

    text-decoration: none;
    border: none;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    height: 234px;
    column-gap: 140px;
    row-gap: 16px;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;
}

.form-check {
    height: 34px;
    width: 228px;
    margin-left: 0;
}

.form-check-label {
    color: #202122;
    font-family: Montserrat, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
}

.av_slots {
    margin-left: 12px;
    color: #4FB4FE;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 24px;
}

.view-slot,
.view-slot * {
    box-sizing: border-box;
}

.view-slot {
    border-radius: 4px;
    border-style: solid;
    border-color: #4fb4fe;
    border-width: 1px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 7px;
}

.people-count-price {
    margin-top: 24px;
    justify-content: flex-start;
    display: flex;
    width: 596px;
    height: 41px;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.rectangle-6288,
.rectangle-6288 * {
    box-sizing: border-box;
}

.rectangle-6288 {
    margin-left: 24px;
    background: #efefef;
    border-radius: 4px;
    flex-shrink: 0;
    width: 131px;
    height: 32px;
    position: relative;
}

.total_cost {
    color: #202122;
    text-align: left;
    font: 600 24px/170% "Montserrat", sans-serif;
    position: relative;
}

.inline-group {
    max-width: 9rem;
    padding: .5rem;
}

.inline-group .form-control {
    text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* number input*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    margin-left: 24px;
    order: 0;
    display: inline-flex;
    flex-direction: row;
    gap: 22px;
    height: 32px;
    width: 131px;

    background: #efefef;
    border-radius: 4px;
    position: relative;
    align-items: center;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input div {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.number-input div:before,
.number-input div:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #bfbfbf;
    /*transform: translate(-50%, -50%);*/
    margin-top: 9px;
}

.number-input div.Two:before,
.number-input div.Two:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #4fb4fe;
    /*transform: translate(0%, 0%);*/
    margin-top: 9px;
}

.number-input div.Two.plus:after {
    transform: translate(0%, 0%) rotate(90deg);
}

.number-input input[type=number] {
    border: none;
    border-radius: 0%;
    color: #202122;
    text-align: center;
    font: 500 20px/170% "Montserrat", sans-serif;
    position: relative;
    width: 24px;
    height: 31px;
    background: #efefef;
}

/* Info */
.info-form {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    width: 596px;
    margin-left: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 285px;
    gap: 8px;
}

.column+.column {
    margin-left: 8px;
}

.input-container label {
    color: #FFF;
    margin-bottom: 5px;
}

.e1 {
    color: #202122;
    text-align: left;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: relative;
}

.e2 {
    color: #4fb4fe;
    text-align: left;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: relative;
}

.input-container .form-control {
    border-radius: 4px;
    border-style: solid;
    border-color: #202122;
    border-width: 1px;
    flex-shrink: 0;
    width: 285px;
    height: 40px;
    position: relative;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 1px solid #4FB4FE;
    border-radius: 4px;
    transform: translateY(-0.075em);
    display: inline-flex;
    place-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    background-color: CanvasText;
    box-shadow: inset 1em 1em white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"]:checked {
    background-color: #4FB4FE;
}


@media screen and (max-width: 768px) {
    .popup-container {
        max-width: 376px;
        max-height: 957px;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        z-index: 1;
    }

    .title-popup {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    .half-1 {
        color: var(--style, #202122);
        text-align: center;
        font: 500 24px/115% "Montserrat", sans-serif;
        position: relative;
        max-width: 318px;
        width: auto;
    }

    .half-2 {
        text-align: center;
        font: 700 20px/115% "Montserrat", sans-serif;
        position: relative;
        max-width: 300px;
        width: auto;
    }

    .booking-date {
        margin-top: 16px;
        font: 500 18px/115% "Montserrat", sans-serif;
        max-width: 194px;
        width: auto;
        max-height: 23px;
        height: auto;
    }

    .people-count {
        color: #202122;
        text-align: left;
        font: 500 18px/170% "Montserrat", sans-serif;
        position: relative;
        width: auto;
    }

    .btn-booking {
        margin-left: auto;
        margin-top: 24px;
        margin-right: auto;
        max-width: 311px;
        margin-bottom: 32px;
    }

    .main-btn-blue-pop {
        width: 311px;
        height: 48px;
        border-radius: 100px;
        background: #4FB4FE;
        padding: 13px 55px;

        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 150.521%;
        text-transform: uppercase;

        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        max-width: 335px;
        max-height: 243px;
        width: auto;
        height: auto;
        column-gap: 48px;
        row-gap: 18px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }

    .form-check {
        max-height: 31px;
        height: auto;
        max-width: 140px;
        width: auto;
        margin-left: 0;
    }

    .form-check-label {
        font-size: 18px;
    }

    .av_slots {
        margin-left: 32px;
        font-size: 12px;
        max-height: 20px;
        height: auto;
    }

    .view-slot {
        border-radius: 4px;
        border-style: solid;
        border-color: #4fb4fe;
        border-width: 1px;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        position: relative;
        margin-top: 7px;
    }

    .people-count-price {
        margin-top: 32px;
        display: block;
        max-width: 335px;
        width: auto;
        max-height: 73px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .people-count-2 {
        margin-top: 8px;
        max-height: 34px;
        gap: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .rectangle-6288,
    .rectangle-6288 * {
        box-sizing: border-box;
    }

    .rectangle-6288 {
        margin-left: 24px;
        background: #efefef;
        border-radius: 4px;
        flex-shrink: 0;
        width: 131px;
        height: 32px;
        position: relative;
    }

    .total_cost {
        color: #202122;
        text-align: left;
        font: 600 20px/170% "Montserrat", sans-serif;
        position: relative;
    }

    .number-input {
        margin-left: 0;
        order: 0;
        display: inline-flex;
        flex-direction: row;
        gap: 22px;
        height: 32px;
        width: 131px;

        background: #efefef;
        border-radius: 4px;
        position: relative;
        align-items: center;
    }

    .number-input,
    .number-input * {
        box-sizing: border-box;
    }

    .number-input div {
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
    }

    .info-form {
        margin-top: 17px;
        display: flex;
        max-width: 335px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 335px;
        gap: 12px;
    }

    .column+.column {
        margin-left: 0;
    }

    .input-container label {
        margin-bottom: 8px;
    }

    .e1 {
        font: 500 12px/170% "Montserrat", sans-serif;
    }

    .e2 {
        font: 500 12px/170% "Montserrat", sans-serif;
    }

    .input-container .form-control {
        width: 335px;
    }

}