.booking {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-align: center;
    font: 700 48px "Montserrat", sans-serif;
    position: relative;
    width: 1187px;
    height: 65px;
}

.booking .span1 {
  color: #4fb4fe;
  font: 700 48px "Montserrat", sans-serif;
}
.booking .span2 {
  color: #ffffff;
  font: 700 48px "Montserrat", sans-serif;
}

.calendar {
    width: 738px;
}

.month {
    color: #ffffff;
    text-align: center;
    font: 600 24px "Montserrat", sans-serif;
    position: relative;
    width: auto;
    height: 33px;
}

.weekdays {
    margin-top: 46px;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.weekdays div {
    color: #ffffff;
    text-align: center;
    font: 500 18px/150% "Montserrat", sans-serif;
    position: relative;
    width: 33px;
    height: 31px;
}

.days {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    width: 738px;
}

.item1 {
    cursor: pointer;
}

.item3 {
    cursor: pointer;
}

.button-m,
.button-m * {
    box-sizing: border-box;
}

.button-m {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.name-month {
    color: #4fb4fe;
    text-align: left;
    font: 500 24px "Montserrat", sans-serif;
    position: relative;
    width: auto;
    height: 33px;
}

.caret-right {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    bottom: 1px;
}

.caret-left {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    bottom: 1px;
}

.wrap,
.wrap * {
    box-sizing: border-box;
}

.wrap {
    width: 102px;
    height: 102px;
    position: static;
}

.transparent-wrap,
.transparent-wrap * {
    box-sizing: border-box;
}

.transparent-wrap {
    width: 102px;
    height: 102px;
    position: static;
    opacity: 0;
}

.no-change {
    background: rgba(79, 180, 254, 0.2);
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.us-background {
    background: rgba(79, 180, 254, 0.2);
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.blue-background {
    background: #4fb4fe;
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.old-day {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    font: 500 24px/150% "Montserrat", sans-serif;
    position: relative;
    padding-top: 8px;
    padding-left: 12px;
    cursor: default;
}

.base-day {
    color: #4FB4FE;
    font: 500 24px/150% "Montserrat", sans-serif;
    position: absolute;
    padding-top: 8px;
    padding-left: 12px;
    cursor: default;
}

.today {
    color: #001729;
    font: 500 24px/150% "Montserrat", sans-serif;
    position: absolute;
    padding-top: 8px;
    padding-left: 12px;
    cursor: default;
}

.wrap:hover .blue-background {
    background: #ffffff;
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.wrap:hover .us-background {
    background: #ffffff;
    border-radius: 12px;
    width: 102px;
    height: 102px;
    position: absolute;
}

.wrap:hover .today {
    color: #001729;
}

.wrap:hover .base-day {
    color: #001729;
}

.count_place,
.count_place * {
    box-sizing: border-box;
}

.count_place {
    color: #001729;
    text-align: left;
    font: 500 18px/150% "Montserrat", sans-serif;
    position: relative;
    height: 25px;
    padding-left: 12px;
    padding-top: 54px;
}

.flex-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
}

@media screen and (max-width: 768px) {
    .booking {
        font: 700 28px "Montserrat", sans-serif;
        width: 311px;
        height: 74px;
    }

    .booking .span1 {
        font: 700 28px "Montserrat", sans-serif;
    }
    .booking .span2 {
        font: 700 28px "Montserrat", sans-serif;
    }

    .calendar {
        width: 738px;
    }

    .month {
        color: #ffffff;
        text-align: center;
        font: 600 16px "Montserrat", sans-serif;
        position: relative;
        width: auto;
        height: 24px;
    }

    .weekdays {
        margin-top: 24px;
        gap: 24px;
    }

    .weekdays div {
        font: 500 16px/150% "Montserrat", sans-serif;
        position: relative;
        width: 21px;
        height: 31px;
    }

    .days {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;
    }

    .month-nav {
        width: auto;
        gap: 22px;
    }

    .item1 {
        cursor: pointer;
    }

    .item3 {
        cursor: pointer;
    }

    .button-m {
        gap: 10px;
    }

    .name-month {
        color: #4fb4fe;
        text-align: left;
        font: 500 16px "Montserrat", sans-serif;
        position: relative;
        width: auto;
        height: auto;
    }

    .caret-left,
    .caret-right {
        width: 16px;
        height: 16px;
        bottom: -2px;
    }

    .wrap {
        width: 46px;
        height: 80px;
    }

    .transparent-wrap {
        width: 46px;
        height: 80px;
    }

    .no-change {
        width: 46px;
        height: 80px;
    }

    .us-background {
        width: 46px;
        height: 80px;
    }

    .blue-background {
        width: 46px;
        height: 80px;
    }

    .old-day {
        font: 500 20px/150% "Montserrat", sans-serif;
        padding-top: 6px;
        padding-left: 5px;
    }

    .base-day {
        font: 500 20px/150% "Montserrat", sans-serif;
        padding-top: 6px;
        padding-left: 5px;
    }

    .today {
        font: 500 20px/150% "Montserrat", sans-serif;
        padding-top: 6px;
        padding-left: 5px;
    }

    .wrap:hover .blue-background {
        width: 46px;
        height: 80px;
    }

    .wrap:hover .us-background {
        width: 46px;
        height: 80px;
    }

    .count_place {
        font: 500 12px/110% "Montserrat", sans-serif;
        height: 28px;
        padding-left: 5px;
        padding-top: 40px;
    }

    .flex-calendar {
        margin-top: 20px;
    }
}
