.intro_bg_block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: clip;
}

.ellipse-1,
.ellipse-1 * {
    box-sizing: border-box;
}
.ellipse-1 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    filter: blur(200px);
    top: 274px;
    left: 78px;
}

.ellipse-3,
.ellipse-3 * {
  box-sizing: border-box;
}
.ellipse-3 {
    background: #00a3ff;
    border-radius: 50%;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(200px);
    top: 608px;
    left: 1524px;
    z-index: 5;
}

.ellipse-4,
.ellipse-4 * {
  box-sizing: border-box;
}
.ellipse-4 {
    background: #00a3ff;
    border-radius: 50%;
    opacity: 0.800000011920929;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(200px);
    top: 1416px;
    left: -60px;
    z-index: 5;
}


.first-object,
.first-object * {
  box-sizing: border-box;
}
.first-object {
    position: absolute;
    transform: translate(-503px, -335px);
    overflow: visible;
    opacity: 0.11999999731779099;
    z-index: 0;
}

.second-object,
.second-object * {
  box-sizing: border-box;
}
.second-object {
    position: absolute;
    transform: translate(955px, 163px);
    overflow: visible;
    opacity: 0.11999999731779099;
    z-index: 0;
}

.third-object,
.third-object * {
  box-sizing: border-box;
}
.third-object {
    position: absolute;
    transform: translate(-262px, -404px);
    overflow: visible;
    opacity: 0.11999999731779099;
    z-index: 0;
}

.oculus-meta-quest-2,
.oculus-meta-quest-2 * {
  box-sizing: border-box;
}
.oculus-meta-quest-2 {
    margin-top: 90px;
    text-align: center;
    font: 700 48px "Montserrat", sans-serif;
    position: relative;
    max-width: 780px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.oculus-meta-quest-2-span {
  color: #4fb4fe;
  font: 700 48px "Montserrat", sans-serif;
}
.oculus-meta-quest-2-span2 {
  color: #ffffff;
  font: 700 48px "Montserrat", sans-serif;
}

.facebook-vr-oculus-quest-2-wi-fi {
    margin-top: 24px;
    color: #ffffff;
    text-align: center;
    font: 500 24px "Montserrat", sans-serif;
    position: relative;
    max-width: 1043px;
    width: auto;
    max-height: 119px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.photo-back-device {
    text-align: center;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    z-index: 1;
    position: sticky;
}

.device-helmet {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.rectangle-32,
.rectangle-32 * {
  box-sizing: border-box;
}
.rectangle-32 {
    background: linear-gradient(1.94deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 85%);
    width: 100%;
    height: 497px;
    position: absolute;
    margin-top: -325px;
    z-index: 1;
}

.questions {
    margin-top: 51px;
    width: auto;
    height: auto;
    color: #FFF;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    z-index: 5;
}

/*FAQ section, where the accordion is kept, including section specific css*/
#faq{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#faq .add{ /*Add is the name for the plus icon*/
  display: block;
}

#faq .remove{ /*Remove is the name for the less icon*/
  display: none;
}

#faq i{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

/*Accordion container and each item*/
.accordion{
    max-width: 845px;
    width: 100%;
    z-index: 5;
    margin-top: 40px;
    margin-bottom: 104px;
}

.accordion-item{
  margin-bottom: 12px;
}

/*Styles for the question*/

.accordion-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 56px;

    cursor: pointer;
    transition-duration: 0.5s;

    border-radius: 8px;
    background: rgba(79, 180, 254, 0.2);
}

.accordion-title .text {
    margin-left: 20px;
    color: #FFF;
    font-family: Montserrat, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accordion-content{
    margin-left: 20px;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.6s;
    color: #FFF;
    font-family: Montserrat, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accordion-content p {
    margin-bottom: 0;
    margin-top: 12px;
}

@media screen and (max-width: 768px) {

    .ellipse-1 {
        background: #ef7d1e;
        border-radius: 50%;
        width: 165px;
        height: 165px;
        position: absolute;
        filter: blur(125px);
        top: 502px;
        left: 306px;
        z-index: 5;
    }


    .ellipse-3 {
        background: #00a3ff;
        border-radius: 50%;
        width: 178px;
        height: 178px;
        position: absolute;
        filter: blur(125px);
        top: -66px;
        left: -55px;
    }


    .ellipse-4 {
        background: #00a3ff;
        border-radius: 50%;
        width: 178px;
        height: 178px;
        position: absolute;
        filter: blur(125px);
        top: 873px;
        left: -55px;
    }

    .first-object {
        display: none;
    }

    .second-object {
        position: absolute;
        transform: rotate(114deg);
        top: -1073px;
        left: -832px;
        overflow: visible;
        opacity: 0.11999999731779099;
        z-index: 0;
    }

    .third-object {
        display: none;
    }

    .oculus-meta-quest-2 {
        margin-top: 54px;
        text-align: center;
        font: 700 28px "Montserrat", sans-serif;
        position: relative;
        width: 327px;
        height: auto;
    }
    .oculus-meta-quest-2-span {
      color: #4fb4fe;
      font: 700 28px "Montserrat", sans-serif;
    }
    .oculus-meta-quest-2-span2 {
      color: #ffffff;
      font: 700 28px "Montserrat", sans-serif;
    }

    .facebook-vr-oculus-quest-2-wi-fi {
        margin-top: 20px;
        color: #ffffff;
        text-align: center;
        font: 500 16px "Montserrat", sans-serif;
        position: relative;
        max-width: 343px;
        width: auto;
        max-height: 184px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .rectangle-32 {
        background: linear-gradient(1.94deg, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 75%);
        width: 100%;
        height: 375px;
        position: absolute;
        margin-top: -320px;
        z-index: 1;
    }

    .questions {
        margin-top: 40px;
        width: auto;
        height: auto;
        color: #FFF;
        text-align: center;
        font-family: Montserrat, serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        z-index: 5;
    }

    #faq i{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 12px;
    }

    .accordion{
        max-width: 343px;
        width: 100%;
        z-index: 5;
        margin-top: 40px;
        margin-bottom: 104px;
    }

    .accordion-item{
      margin-bottom: 12px;
    }

    /*Styles for the question*/

    .accordion-title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 48px;

        cursor: pointer;
        transition-duration: 0.5s;

        border-radius: 8px;
        background: rgba(79, 180, 254, 0.2);
    }

    .accordion-title .text {
        margin-left: 12px;
        color: #FFF;
        font-family: Montserrat, serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .accordion-content{
        margin-left: 12px;
        max-height: 0;
        overflow: hidden;
        position: relative;
        transition: max-height 0.6s;
        color: #FFF;
        font-family: Montserrat, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}