.main-btn-blue {
    margin-top: 36px;
    width: 290px;
    height: 56px;
    border-radius: 100px;
    background: #4FB4FE;
    padding: 16px 32px;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;

    text-decoration: none;
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 0;
    box-shadow: 0 0 10px 0 #4FB4FE;
}


.photo-back {
    width: auto;
    max-height: 851px;
    background-image: url(../static_files/man-experiencing-virtual-reality-close-up.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin: 13px auto 0 435px;
    height: auto;
}

.content {
    position: absolute;
    margin-left: 340px;
    margin-top: 105px;
}

.blur-32,
.blur-32 * {
    box-sizing: border-box;
}

.blur-32 {
    background: linear-gradient(1.94deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 85%);
    width: auto;
    height: 497px;
    position: sticky;
    margin-top: 503px;
    z-index: 0;
}

.vr-club,
.vr-club * {
  box-sizing: border-box;
}
.vr-club {
    text-align: left;
    font: 800 88px "Montserrat", sans-serif;
    position: relative;
    max-width: 1187px;
    width: auto;
    height: auto;

}
.vr-club-span {
  color: #ffffff;
  font: 800 88px "Montserrat", sans-serif;
}
.vr-club-span2 {
  color: #4fb4fe;
  font: 800 88px "Montserrat", sans-serif;
}
.vr-club-span3 {
  color: #ffffff;
  font: 800 88px "Montserrat", sans-serif;
}

.sub-vr-club,
.sub-vr-club * {
    box-sizing: border-box;
}

.sub-vr-club {
    margin-top: 24px;
    color: #ffffff;
    text-align: left;
    font: 500 24px "Montserrat", sans-serif;
    position: relative;
    max-width: 562px;
    width: auto;
    height: auto;
}

.section-what-to-play {
    margin-top: 150px;
}

.what-to-play,
.what-to-play * {
  box-sizing: border-box;
}
.what-to-play {
  text-align: center;
  font: 700 48px "Montserrat", sans-serif;
  position: relative;
  width: auto;
  height: auto;
}
.what-to-play .span {
  color: #ffffff;
  font: 700 48px "Montserrat", sans-serif;
}
.what-to-play .span2 {
  color: #4fb4fe;
  font: 700 48px "Montserrat", sans-serif;
}
.what-to-play .span3 {
  color: #ffffff;
  font: 700 48px "Montserrat", sans-serif;
}

.oculus-meta-quest-2,
.oculus-meta-quest-2 * {
    box-sizing: border-box;
}
.oculus-meta-quest-2 {
    margin-top: 24px;
    color: #ffffff;
    text-align: center;
    font: 500 24px "Montserrat", sans-serif;
    position: relative;
    max-width: 693px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.photo-back-vr {
    text-align: center;
    width: auto;
    max-height: 630px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    z-index: 1;
    position: sticky;
}

.vr-helmet {
    width: auto;
    max-height: 630px;
}


.main-more-details {
    margin-top: 24px;
    position: relative;
    width: 290px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.more-details,
.more-details * {
    box-sizing: border-box;
}

.more-details {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;

    padding: 16px 32px 16px 31px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.section-prices {
    margin-top: 150px;
}
.price-for-hour,
.price-for-hour * {
  box-sizing: border-box;
}
.price-for-hour {
  text-align: center;
  font: 700 48px "Montserrat", sans-serif;
  position: relative;
  width: auto;
  height: auto;
}
.price-for-hour .span {
  color: #4fb4fe;
  font: 700 48px "Montserrat", sans-serif;
}
.price-for-hour .span2 {
  color: #ffffff;
  font: 700 48px "Montserrat", sans-serif;
}
.price-for-hour .span3 {
  color: #4fb4fe;
  font: 700 48px "Montserrat", sans-serif;
}

.price-day {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    max-width: 1094px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 255px;
    height: auto;
    gap: 44px;
    justify-content: center;
}

.price-day .item {
    display: flex;
    width: 525px;
    height: 218px;
    color: #efefef;
    border-radius: 18px;
    background: rgba(241, 241, 241, 0.20);
    flex-direction: column;
}

.item .when {
    margin-top: 24px;
    margin-left: 28px;
    color: var(--white, #F1F1F1);
    font-family: Montserrat, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; /* 37.2px */
}

.item .price-details {
    margin-top: 18px;
    margin-left: 28px;
    display: flex;
    flex-direction: row;
    gap: 24px
}

.when-description {
    width: 262px;
    color: var(--white, #F1F1F1);
    font-family: Montserrat, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.when-time {
    width: 121px;
    color: var(--white, #F1F1F1);
    font-family: Montserrat, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%; /* 31px */
}

.how-many-o {
    width: 180px;
    height: 61px;
    flex-shrink: 0;
    color: #EF7D1E;
    font-family: Montserrat, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 62px */
}

.how-many-b {
     width: 180px;
    height: 61px;
    flex-shrink: 0;
    color: #4FB4FE;
    font-family: Montserrat, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%; /* 62px */
}

.btn-price,
.btn-prices * {
    box-sizing: border-box;
}

.btn-price {
    margin-top: 24px;
    width: 284px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FFF;
    background: #010103;

    padding: 16px 18px 16px 18px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.section-rules-club {
    margin-top: 150px;
}

.section-games {
    margin-top: 8px;
}

.section-calendar {
    margin-top: 150px;
}


.intro_bg_block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: clip;
}

.ellipse-1,
.ellipse-1 * {
    box-sizing: border-box;
}

.ellipse-1 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 354px;
    height: 354px;
    position: absolute;
    filter: blur(175px);
    top: 88px;
    left: -92px;
}


.ellipse-3,
.ellipse-3 * {
    box-sizing: border-box;
}

.ellipse-3 {
    background: #00a3ff;
    border-radius: 50%;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(175px);
    top: 382px;
    left: 1601px;
    z-index: 1;
}

.ellipse-4,
.ellipse-4 * {
    box-sizing: border-box;
}

.ellipse-4 {
    background: #00a3ff;
    border-radius: 50%;
    opacity: 0.699999988079071;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(200px);
    top: 1513px;
    left: -75px;
}

.ellipse-5,
.ellipse-5 * {
    box-sizing: border-box;
}

.ellipse-5 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 299px;
    height: 299px;
    position: absolute;
    filter: blur(175px);
    top: 1846px;
    left: 1688px;
}

.ellipse-6,
.ellipse-6 * {
  box-sizing: border-box;
}

.ellipse-6 {
    background: #00a3ff;
    border-radius: 50%;
    opacity: 0.8;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(250px);
    top: 3935px;
    left: 1657px;
}

.ellipse-7,
.ellipse-7 * {
  box-sizing: border-box;
}
.ellipse-7 {
  background: #ef7d1e;
  border-radius: 50%;
  width: 299px;
  height: 299px;
  position: absolute;
  filter: blur(175px);
  left: 68px;
  top: 4520px;

}

.ellipse-8,
.ellipse-8 * {
  box-sizing: border-box;
}
.ellipse-8 {
  background: #00a3ff;
  border-radius: 50%;
  opacity: 0.800000011920929;
  width: 371px;
  height: 371px;
  position: absolute;
  filter: blur(250px);
  left: 1445px;
  top: 4690px;
}


.first-object {
    position: absolute;
    transform: translate(-150px, -730px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.second-object {
    position: absolute;
    transform: translate(-428px, 586px);
    overflow: visible;
    opacity: 0.11999999731779099;
    z-index: 0;
}

.third-object {
    position: absolute;
    transform: translate(1284px, 1100px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.fourth-object {
    position: absolute;
    transform: translate(1158px, 3152px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.fifth-object {
    position: absolute;
    transform: translate(-945px, 3784px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

@media screen and (max-width: 1300px) {
    .photo-back {
        margin: 13px auto 0 auto;
        height: auto;
    }

    .photo-back-vr {
        text-align: center;
        width: auto;
        height: auto;
        max-height: 630px;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .vr-helmet {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
    }

    .content {
        margin: 105px auto auto;
    }

    .vr-club {
        text-align: center;
        font: 700 54px "Montserrat", sans-serif;
        position: relative;
        width: auto;
        height: auto;
    }
    .vr-club-span {
      font: 700 54px "Montserrat", sans-serif;
    }
    .vr-club-span2 {
      font: 700 54px "Montserrat", sans-serif;
    }
    .vr-club-span3 {
      font: 700 54px "Montserrat", sans-serif;
    }

    .sub-vr-club {
        margin-top: 16px;
        text-align: center;
        font: 500 32px "Montserrat", sans-serif;
        position: relative;
        width: auto;
        height: auto;
    }

    .main-btn-blue {
        margin-top: 36px;
        margin-left: 50px;
    }

    .price-day {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        max-width: 343px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        max-height: 540px;
        height: auto;
        gap: 44px;
        justify-content: center;
    }

    .price-day .item {
        display: flex;
        width: 343px;
        height: 236px;
        color: #efefef;
        border-radius: 18px;
        background: rgba(241, 241, 241, 0.20);
        flex-direction: column;
    }

    .item .when {
        margin-top: 20px;
        margin-left: 20px;
        color: var(--white, #F1F1F1);
        font-family: Montserrat, serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 155%; /* 31px */
    }

    .item .price-details {
        margin-top: 18px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px
    }

    .when-description {
        height: 60px;
        width: 303px;
        color: var(--white, #F1F1F1);
        font-family: Montserrat, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .i-h-2 {
        gap: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .when-time {
        width: 121px;
        color: var(--white, #F1F1F1);
        font-family: Montserrat, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 17.6px */
    }

    .how-many-o {
        width: 133px;
        height: 51px;
        color: #EF7D1E;
        font-family: Montserrat, serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 155%; /* 49.6px */
    }

    .how-many-b {
        width: 133px;
        height: 51px;
        color: #4FB4FE;
        font-family: Montserrat, serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 155%; /* 49.6px */
    }

    .btn-price {
        margin-top: 20px;
        width: 311px;
        height: 42px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 1px solid #FFF;
        background: #010103;

        padding: 10px 55px 7px 55px;

        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 150.521%;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        z-index: 999;
    }
}

@media screen and (max-width: 768px) {
    .main-btn-blue {
        margin-top: 401px;
        width: 311px;
        height: 48px;
        border-radius: 100px;
        background: #4FB4FE;
        padding: 13.71px 55px;
        margin-left: 0px;
        color: #ffffff;

        z-index: 1;
    }

    .photo-back {
        width: auto;
        height: auto;
        background-image: url(../static_files/man-experiencing-virtual-reality-close-up.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        margin: 117px -60px 0 auto;
    }

    .content {
        position: absolute;
        margin-left: 0;
        margin-top: 56px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blur-32 {
        background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        width: 100%;
        height: 172.5px;
        position: sticky;
        margin-top: 235px;
        z-index: 0;
    }

    .vr-club {
        text-align: center;
        font: 700 36px "Montserrat", sans-serif;
        position: relative;
        max-width: 327px;
        width: auto;
        height: auto;
    }
    .vr-club-span {
      font: 700 36px "Montserrat", sans-serif;
    }
    .vr-club-span2 {
      font: 700 36px "Montserrat", sans-serif;
    }
    .vr-club-span3 {
      font: 700 36px "Montserrat", sans-serif;
    }

    .sub-vr-club {
        margin-top: 16px;
        text-align: center;
        font: 500 16px "Montserrat", sans-serif;
        position: relative;
        max-width: 305px;
        width: auto;
        height: auto;
    }

    .section-what-to-play {
        margin-top: 96px;
    }

    /*  What to play   */
    .what-to-play {
      text-align: center;
      font: 700 28px "Montserrat", sans-serif;
    }
    .what-to-play .span {
      font: 700 28px "Montserrat", sans-serif;
    }
    .what-to-play .span2 {
      font: 700 28px "Montserrat", sans-serif;
    }
    .what-to-play .span3 {
      font: 700 28px "Montserrat", sans-serif;
    }
    .oculus-meta-quest-2 {
        margin-top: 12px;
        font: 500 16px "Montserrat", sans-serif;
        max-width: 308px;
    }
    .vr-helmet {
        width: auto;
        height: auto;
        max-height: 208px;
        max-width: 370px;
    }

    .main-more-details {
        margin-top: 36px;
        position: relative;
        width: 311px;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .more-details {
        width: 311px;
        height: 48px;
        padding: 12px 55px 12px 55px;
    }

    .section-prices {
        margin-top: 96px;
    }

    .price-for-hour {
      text-align: center;
      font: 700 28px "Montserrat", sans-serif;
      position: relative;
      width: 311px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .price-for-hour .span {
      font: 700 28px "Montserrat", sans-serif;
    }
    .price-for-hour .span2 {
      font: 700 28px "Montserrat", sans-serif;
    }
    .price-for-hour .span3 {
      font: 700 28px "Montserrat", sans-serif;
    }

    .section-rules-club {
        margin-top: 96px;
    }

    .section-games {
        margin-top: 76px;
    }

    .section-calendar {
        margin-top: 96px;
    }

    .ellipse-1 {
        background: #ef7d1e;
        border-radius: 50%;
        width: 165px;
        height: 165px;
        position: absolute;
        filter: blur(125px);
        top: 502px;
        left: 306px;
        z-index: 1;
    }

    .ellipse-3 {
        width: 178px;
        height: 178px;
        position: absolute;
        filter: blur(125px);
        top: -66px;
        left: -55px;
    }

    .ellipse-4 {
        background: #00a3ff;
        border-radius: 50%;
        opacity: 0.699999988079071;
        width: 371px;
        height: 371px;
        position: absolute;
        filter: blur(125px);
        top: 1739px;
        left: 306px;
    }

    .ellipse-5 {
        background: #ef7d1e;
        border-radius: 50%;
        width: 165px;
        height: 165px;
        position: absolute;
        filter: blur(125px);
        top: 1376px;
        left: -126px;
    }

    .ellipse-6 {
        background: #00a3ff;
        border-radius: 50%;
        opacity: 1;
        width: 178px;
        height: 178px;
        position: relative;
        filter: blur(125px);
        top: 2700px;
        left: -109px;
    }

    .ellipse-7 {
        background: #ef7d1e;
        border-radius: 50%;
        width: 165px;
        height: 165px;
        position: absolute;
        filter: blur(125px);
        left: -78px;
        top: 3416px;
    }

    .ellipse-8 {
        background: #00a3ff;
        border-radius: 50%;
        opacity: 0.800000011920929;
        width: 178px;
        height: 178px;
        position: absolute;
        filter: blur(125px);
        left: 327px;
        top: 3706px;
    }

    .first-object {
        display: none;
    }

    .second-object {
        position: absolute;
        overflow: visible;
        transform: rotate(346deg);
        top: -865px;
        left: -690px;
        opacity: 0.11999999731779099;
    }

    .third-object {
        display: none;
    }

    .fourth-object {
        display: none;
    }

    .fifth-object {
        display: none;
    }
}
