.main-btn-blue {
    margin-top: 36px;
    width: 290px;
    height: 56px;
    border-radius: 100px;
    background: #4FB4FE;
    padding: 16px 32px;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;

    text-decoration: none;
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 0;
    box-shadow: 0 0 10px 0 #4FB4FE;
}


.photo-back {
    width: auto;
    max-height: 851px;
    background-image: url(../static_files/man-experiencing-virtual-reality-close-up.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin: 13px auto 0 435px;
    height: auto;
}

.content {
    position: absolute;
    margin-left: 340px;
    margin-top: 105px;
}

.blur-32,
.blur-32 * {
    box-sizing: border-box;
}

.blur-32 {
    background: linear-gradient(1.94deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 85%);
    width: auto;
    height: 497px;
    position: sticky;
    margin-top: 503px;
    z-index: 0;
}

.vr-club,
.vr-club * {
  box-sizing: border-box;
}
.vr-club {
  text-align: left;
  font: 800 88px "Montserrat", sans-serif;
  position: relative;
  width: 1187px;
  height: 223px;
}
.vr-club-span {
  color: #ffffff;
  font: 800 88px "Montserrat", sans-serif;
}
.vr-club-span2 {
  color: #4fb4fe;
  font: 800 88px "Montserrat", sans-serif;
}
.vr-club-span3 {
  color: #ffffff;
  font: 800 88px "Montserrat", sans-serif;
}

.sub-vr-club,
.sub-vr-club * {
    box-sizing: border-box;
}

.sub-vr-club {
    margin-top: 24px;
    color: #ffffff;
    text-align: left;
    font: 500 24px "Montserrat", sans-serif;
    position: relative;
    width: 562px;
    height: 61px;
}

.intro_bg_block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: clip;
}

.ellipse-1,
.ellipse-1 * {
    box-sizing: border-box;
}

.ellipse-1 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 354px;
    height: 354px;
    position: absolute;
    filter: blur(175px);
    top: 88px;
    left: -92px;
}


.ellipse-3,
.ellipse-3 * {
    box-sizing: border-box;
}

.ellipse-3 {
    background: #00a3ff;
    border-radius: 50%;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(175px);
    top: 382px;
    left: 1601px;
    z-index: 1;
}

.ellipse-4,
.ellipse-4 * {
    box-sizing: border-box;
}

.ellipse-4 {
    background: #00a3ff;
    border-radius: 50%;
    opacity: 0.699999988079071;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(200px);
    top: 1291px;
    left: -198px;
}

.ellipse-5,
.ellipse-5 * {
    box-sizing: border-box;
}

.ellipse-5 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 299px;
    height: 299px;
    position: relative;
    filter: blur(175px);
    top: 1611px;
    left: 1688px;
}

.first-object {
    position: absolute;
    transform: translate(-149.9px, -1029px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.second-object {
    position: relative;
    transform: translate(-433.9px, 266.93px);
    overflow: visible;
    opacity: 0.11999999731779099;
    z-index: 0;
}

.third-object {
    position: absolute;
    transform: translate(-643px, 558px);
    overflow: visible;
    opacity: 0.11999999731779099;
}


@media screen and (max-width: 1300px) {
    .photo-back {
        margin: 13px auto 0 auto;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .main-btn-blue {
        margin-top: 401px;
        width: 311px;
        height: 48px;
        border-radius: 100px;
        background: #4FB4FE;
        padding: 13.71px 55px;

        color: #ffffff;

        z-index: 1;
    }

    .photo-back {
        width: auto;
        height: auto;
        background-image: url(../static_files/man-experiencing-virtual-reality-close-up.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        margin: 117px -60px 0 auto;
    }

    .content {
        position: absolute;
        margin-left: 0;
        margin-top: 56px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blur-32 {
        background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        width: 100%;
        height: 172.5px;
        position: sticky;
        margin-top: 235px;
        z-index: 0;
    }

    .vr-club {
        text-align: center;
        font: 700 36px "Montserrat", sans-serif;
        position: relative;
        max-width: 327px;
        width: auto;
        height: auto;
    }
    .vr-club-span {
      font: 700 36px "Montserrat", sans-serif;
    }
    .vr-club-span2 {
      font: 700 36px "Montserrat", sans-serif;
    }
    .vr-club-span3 {
      font: 700 36px "Montserrat", sans-serif;
    }

    .sub-vr-club {
        margin-top: 16px;
        text-align: center;
        font: 500 16px "Montserrat", sans-serif;
        position: relative;
        max-width: 305px;
        width: auto;
        height: auto;
    }

}
