.intro_bg_block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: clip;
    z-index: 0;
}

.ellipse-1 {
    background: #ef7d1e;
    border-radius: 50%;
    width: 310px;
    height: 310px;
    position: relative;
    filter: blur(200px);
    top: 574px;
    right: 131px;
}

.ellipse-3 {
    background: #00a3ff;
    border-radius: 50%;
    width: 371px;
    height: 371px;
    position: absolute;
    filter: blur(200px);
    top: 35px;
    left: 1487px;
}

.blue-object {
    position: absolute;
    transform: translate(581.51px, -918.7px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.yellow-object {
    position: fixed;
    transform: translate(-652px, -131.32px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.hiden-object {
    position: fixed;
    transform: translate(-314.13px, -535.23px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.main,
.main * {
    box-sizing: border-box;
}

.main {
    position: sticky;
    max-width: 1187px;
    width: auto;
    margin: 90px auto 158px;
}

.main-text,
.main-text * {
    box-sizing: border-box;
}

.main-text {
    text-align: center;
    font: 700 48px "Montserrat", sans-serif;
    position: sticky;
    width: auto;
    max-height: 65px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.span1 {
    color: #ffffff;
    font: 700 48px "Montserrat", sans-serif;
}

.span2 {
    color: #4fb4fe;
    font: 700 48px "Montserrat", sans-serif;
}

.span3 {
    color: #ffffff;
    font: 700 48px "Montserrat", sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.column+.column {
    margin-left: 119px;
}

.error-container {
    color: #ff4242;
    text-align: center;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: relative;
    font-style: normal;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    box-sizing: border-box;
}

.ะต1 {
    color: #ffffff;
    text-align: left;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: relative;
    max-width: 145px;
    width: auto;
}

.e2 {
    color: #4fb4fe;
    text-align: left;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: relative;
    max-width: 6px;
    width: auto;
}

.input-container-1 {
    width: 330px;
    margin: 60px auto 16px;
}

.input-container-1 label {
    color: #FFF;
    margin-bottom: 5px;
}

.input-container {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.input-container label {
    color: #FFF;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    max-width: 330px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    padding: 5px;
}

.transparent-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-right: -24px;
    margin-left: -36px;
}

.password-input {
    display: flex;
    align-items: center;
}

.sub-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}

.forgot-pswd,
.forgot-pswd * {
    box-sizing: border-box;
}

.forgot-pswd {
    color: #4fb4fe;
    text-align: center;
    font: 500 20px/170% "Montserrat", sans-serif;
    text-decoration: underline;
    position: relative;
    width: auto;
}

.subtext,
.subtext * {
    box-sizing: border-box;
}

.subtext {
    text-align: center;
    font: 500 20px/170% "Montserrat", sans-serif;
    position: relative;
    width: auto;
}

.subtext .span1 {
    color: #ffffff;
    font: 500 20px/170% "Montserrat", sans-serif;
}

.subtext .span2 {
    color: #4fb4fe;
    font: 500 20px/170% "Montserrat", sans-serif;
}

.subtext .span3 {
    color: #4fb4fe;
    font: 500 20px/170% "Montserrat", sans-serif;
    text-decoration: underline;
}

.btn-blue {
    margin-top: 24px;

    width: 350px;
    height: 56px;
    border-radius: 100px;
    background: #4FB4FE;
    padding: 16px 62px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;

    text-decoration: none;

    border: none;
    cursor: pointer;

    box-shadow: 0 0 10px 0 #4FB4FE;
}

.google-img,
.google-img * {
    box-sizing: border-box;
}

.google-img {
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 1px 0;
    padding: 10px;
    width: 99px;
    height: 47px;
    position: relative;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

.google-logo-white-2015-1 {
    width: 94px;
    height: 35px;
    position: absolute;
    left: calc(50% - 46.5px);
    top: 10px;
}

.subtext-or {
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: sticky;
    margin: 24px auto 0;
    max-width: 297px;
    width: auto;
}

@media screen and (max-width: 1550px) {
    .ellipse-1 {
        position: fixed;
        filter: blur(200px);
        top: 50%;
        right: 80%;
    }

    .ellipse-3 {
        position: fixed;
        top: 5%;
        left: 90%;
    }

    .blue-object {
        position: absolute;
        transform: translate(25%, -25%);
        overflow: visible;
        opacity: 0.12;
    }

    .yellow-object {
        position: fixed;
        transform: translate(-30%, 15%);
        overflow: visible;
        opacity: 0.12;
    }

    .hiden-object {
        display: none;
        opacity: 0;
    }
}

@media screen and (max-width: 1365px) {
    .blue-object {
        position: absolute;
        transform: translate(15%, -25%);
        overflow: visible;
        opacity: 0.12;
    }
}

@media screen and (max-width: 900px) {
    .blue-object {
        position: absolute;
        transform: translate(0%, -30%);
        overflow: visible;
        opacity: 0.12;
    }
    .yellow-object {
        position: fixed;
        transform: translate(-30%, 20%);
        overflow: visible;
        opacity: 0.12;
    }

    .main {
        margin: 56px auto 96px;
    }

    .main-text {
        width: auto;
        text-align: center;
        height: auto;
        font: 700 36px "Montserrat", sans-serif;
        margin-left: auto;
        margin-right: auto;
    }

    .span1 {
        color: #ffffff;
        font: 700 36px "Montserrat", sans-serif;
    }

    .span2 {
        color: #4fb4fe;
        font: 700 36px "Montserrat", sans-serif;
    }

    .span3 {
        color: #ffffff;
        font: 700 36px "Montserrat", sans-serif;
    }

    .forgot-pswd {
        font: 500 18px/170% "Montserrat", sans-serif;
    }

    .subtext {
        font: 500 18px/170% "Montserrat", sans-serif;
        width: auto;
    }

    .subtext .span1 {
        font: 500 18px/170% "Montserrat", sans-serif;
    }

    .subtext .span2 {
        font: 500 18px/170% "Montserrat", sans-serif;
    }

    .subtext .span3 {
        font: 500 18px/170% "Montserrat", sans-serif;
    }

    .btn-blue {
        margin-top: 24px;
        width: 311px;
        height: 48px;
        padding: 13.71px 55px;
    }

    .subtext-or {
        font: 500 18px/170% "Montserrat", sans-serif;
        margin: 24px auto 0;
        width: auto;
    }

    .error-container {
        font: 500 16px/170% "Montserrat", sans-serif;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .main {
        margin: 56px auto 96px;
    }
    .main-text {
        width: 311px;
        text-align: center;
        height: 77px;
        font: 700 28px "Montserrat", sans-serif;
        margin-left: auto;
        margin-right: auto;
    }
    .span1 {
        color: #ffffff;
        font: 700 28px "Montserrat", sans-serif;
    }

    .span2 {
        color: #4fb4fe;
        font: 700 28px "Montserrat", sans-serif;
    }

    .span3 {
        color: #ffffff;
        font: 700 28px "Montserrat", sans-serif;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 311px;
    }

    .input-container-1 {
        width: 311px;
        margin: 16px auto 12px;
    }

    .input-container {
        width: 311px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .forgot-pswd {
        font: 500 16px/170% "Montserrat", sans-serif;
    }
    .subtext {
        font: 500 16px/170% "Montserrat", sans-serif;
        width: 230px;
    }
    .subtext .span1 {
        font: 500 16px/170% "Montserrat", sans-serif;
    }

    .subtext .span2 {
        font: 500 16px/170% "Montserrat", sans-serif;
    }

    .subtext .span3 {
        font: 500 16px/170% "Montserrat", sans-serif;
    }

    .btn-blue {
        margin-top: 24px;
        width: 311px;
        height: 48px;
        padding: 13.71px 55px;
    }

    .subtext-or {
        font: 500 12px/170% "Montserrat", sans-serif;
        margin: 24px auto 0;
        width: auto;
    }

    .error-container {
        font: 500 12px/170% "Montserrat", sans-serif;
        width: auto;
    }

    .ellipse-1 {
        background: #ef7d1e;
        border-radius: 50%;
        width: 165px;
        height: 165px;
        position: absolute;
        filter: blur(125px);
        top: 502px;
        right: -96px;
    }

    .ellipse-3 {
        background: #00a3ff;
        border-radius: 50%;
        width: 178px;
        height: 178px;
        position: absolute;
        filter: blur(125px);
        top: -59px;
        left: -55px;
    }

    .blue-object {
        position: fixed;
        overflow: visible;
        transform: rotate(95deg);
        top: -865px;
        left: -690px;
        opacity: 0.11999999731779099;
    }

    .yellow-object {
        opacity: 0;
    }

    .hiden-object {
        opacity: 0;
    }
}