.main,
.main * {
    box-sizing: border-box;
}

.main {
    position: sticky;
    max-width: 1187px;
    width: 100%;
    margin: 90px auto 168px;
}

.main-text,
._10 * {
    box-sizing: border-box;
}

.main-text {
    text-align: center;
    font: 700 48px "Montserrat", sans-serif;
    position: relative;
    width: 1187px;
    height: 65px;
}

.span1 {
    color: #ffffff;
    font: 700 48px "Montserrat", sans-serif;
}

.span2 {
    color: #4fb4fe;
    font: 700 48px "Montserrat", sans-serif;
}

.sub-main-text,
.sub-main-text * {
    box-sizing: border-box;
}

.sub-main-text {
    color: #ffffff;
    text-align: center;
    font: 500 20px/150% "Montserrat", sans-serif;
    position: relative;
    width: 333px;
    height: 32px;
    margin: 12px auto 0;
}

.intro_bg_block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: clip;
    z-index: 0;
}

.ellipse-1 {
    background: #ef7d1e;
    border-radius: 310px;
    width: 310px;
    height: 310px;
    position: sticky;
    filter: blur(200px);
    top: 88px;
    right: 210px;
}

.ellipse-3 {
    background: #00a3ff;
    border-radius: 50%;
    opacity: 0.699999988079071;
    width: 371px;
    height: 371px;
    position: sticky;
    filter: blur(200px);
    top: 392px;
    left: 1520px;
}

.blue-object {
    position: fixed;
    transform: translate(1225px, -878px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.yellow-object {
    position: fixed;
    transform: translate(-599.14px, -1288.83px);
    overflow: visible;
    opacity: 0.11999999731779099;
}

.btn-blue {
    margin-top: 24px;

    width: 350px;
    height: 56px;
    border-radius: 100px;
    background: #4FB4FE;
    padding: 16px 62px;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 150.521%;
    text-transform: uppercase;

    text-decoration: none;

    border: none;
    cursor: pointer;

    box-shadow: 0 0 10px 0 #4FB4FE;
}

.main-form {
    width: 100%;
    max-width: 779px;
    height: 467px;
    position: sticky;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext-or {
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: sticky;
    margin: 24px auto 0;
    width: 297px;
}

.google-img {
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 1px 0;
    padding: 10px;
    width: 99px;
    height: 47px;
    position: relative;
    margin: 4px auto;
}

.google-logo-white-2015-1 {
    width: 94px;
    height: 35px;
    position: absolute;
    left: calc(50% - 46.5px);
    top: 10px;
}

.subtext {
    text-align: center;
    font: 500 20px/170% "Montserrat", sans-serif;
    position: relative;
    width: 634px;
}

.subtext .span1 {
    color: #ffffff;
    font: 500 20px/170% "Montserrat", sans-serif;
}

.subtext .span2 {
    color: #4fb4fe;
    font: 500 20px/170% "Montserrat", sans-serif;
    text-decoration: underline;
}

.frame-23,
.frame-23 * {
    box-sizing: border-box;
}

.frame-23 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.sub-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form {
    display: flex;
    justify-content: space-between;
    width: 779px;
    margin: 39px auto 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 28px;
    margin-bottom: 44px;
}

.column+.column {
    margin-left: 119px;
    gap: 28px;
}

.input-container {
    /*margin-bottom: 28px;*/
}

.input-container label {
    color: #FFF;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    max-width: 330px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    padding: 5px;
}

.е1 {
    color: #ffffff;
    text-align: left;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: relative;
}

.e2 {
    color: #4fb4fe;
    text-align: left;
    font: 500 14px/170% "Montserrat", sans-serif;
    position: relative;
}

.transparent-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-right: -24px;
    margin-left: -36px;
}

.password-input {
    display: flex;
    align-items: center;
}

.error-container {
    color: #ff4242;
    text-align: left;
    font: 500 12px/170% "Montserrat", sans-serif;
    position: relative;
    font-style: normal;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .main {
        margin: 55.5px auto 98px;
    }
    .main-text {
        width: auto;
        text-align: center;
        height: auto;
        font: 700 28px "Montserrat", sans-serif;
        margin-left: auto;
        margin-right: auto;
    }
    .span1 {
        color: #ffffff;
        font: 700 28px "Montserrat", sans-serif;
    }

    .span2 {
        color: #4fb4fe;
        font: 700 28px "Montserrat", sans-serif;
    }

    .span3 {
        color: #ffffff;
        font: 700 28px "Montserrat", sans-serif;
    }

    .sub-main-text {
        font: 500 16px/150% "Montserrat", sans-serif;
        margin: 5px auto 0;
    }

    .sign-up-form {
        display: flex;
        width: 311px;
        margin: 23px auto 0;
        flex-direction: column;
        align-items: center;
    }

    .column+.column {
        margin-left: 0;
        gap: 12px;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 311px;
        gap: 12px;
    }

    .input-container-1 {
        width: 311px;
        margin: 60px auto 12px;
    }

    .input-container {
        width: 311px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .forgot-pswd {
        font: 500 16px/170% "Montserrat", sans-serif;
    }
    .subtext {
        font: 500 16px/170% "Montserrat", sans-serif;
        width: 230px;
    }
    .subtext .span1 {
        font: 500 16px/170% "Montserrat", sans-serif;
    }

    .subtext .span2 {
        font: 500 16px/170% "Montserrat", sans-serif;
    }

    .subtext .span3 {
        font: 500 16px/170% "Montserrat", sans-serif;
    }

    .btn-blue {
        margin-top: 24px;
        width: 311px;
        height: 48px;
        padding: 13.71px 55px;
    }

    .subtext-or {
        font: 500 12px/170% "Montserrat", sans-serif;
        margin: 24px auto 0;
        width: auto;
    }

    .error-container {
        font: 500 12px/170% "Montserrat", sans-serif;
        width: auto;
    }
}